<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre" value="Antonio">
    </mat-form-field>
  
    
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Apellido" value="Salgado"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="No. de Empleado" value="022"></textarea>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Departamento" value="IT"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Puesto" value="Especialista"></textarea>
          </mat-form-field>
  </form> -->

  <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Configuracion</h2>
    
     
        <section class="example-section">
          <mat-checkbox class="example-margin" >Alerta con sonido</mat-checkbox>
        </section>
    
        <section class="example-section">
          <mat-checkbox class="example-margin" >Alertas al correo</mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="result">
      <mat-card-content>
        <h2 class="example-h2">Alertas</h2>
    
        <section class="example-section">
          <mat-slide-toggle
              class="example-margin"
             >
            Recivir Alertas
          </mat-slide-toggle>
        </section>
      </mat-card-content>
    </mat-card>
    