.example-icon {
    padding: 0px 0px 0px 0px;
}

.example-spacer {
    flex: 5 1 auto;
}

.profile {
    padding: 0 20px;
}

mat-toolbar {
    background: #ffffff;
    border: 3px solid rgb(211, 207, 207);
    border-radius: 5px;
}