<mat-card>
    <mat-card-content>
        <h2 class="example-h2">Perfil</h2>



        <mat-form-field class="example-full-width">
            <input matInput placeholder="No. de Empleado" [(ngModel)]="user.numEmp">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre" [(ngModel)]="user.first_name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellido" [(ngModel)]="user.last_name">
        </mat-form-field>



        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="user.email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Departamento" [(ngModel)]="user.depto">
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <input matInput placeholder="Puesto" [(ngModel)]="user.job">
        </mat-form-field>

    </mat-card-content>
</mat-card>