
  <mat-card>
      <mat-card-content>  
        <h2 class="example-h2">Perfil</h2>
    
        <section class="example-section">
          <label class="example-margin">UI Color: </label>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" value="Antonio">
              </mat-form-field>
            
              
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Apellido" value="Salgado"></textarea>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="No. de Empleado" value="022"></textarea>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Departamento" value="IT"></textarea>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Puesto" value="Especialista"></textarea>
                    </mat-form-field>
            </form>
          
        </section>
    
        </mat-card-content>
    </mat-card>
    
   