<h1 mat-dialog-title>Ticket nuevo</h1>
<form #ticketForm="ngForm">
    <input type="hidden" name="name" [(ngModel)]="user.first_name">
    <input type="hidden" name="depto" [(ngModel)]="user.job">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput type="text" name="asunto" ngModel placeholder="Asunto">
        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field>
            <textarea matInput type="text" name="message" ngModel placeholder="Mensaje"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onConfirm(ticketForm)">Guardar</button>
    </div>
</form>