<table [dataSource]="dataSource" mat-table class="mat-elevation-z8">
    <!-- Position Column -->
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="depto">
        <th mat-header-cell *matHeaderCellDef> Departamento </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.depto}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="asunto">
        <th mat-header-cell *matHeaderCellDef> Asunto </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.asunto}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.date | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let ticket">
            <button (click)="editTickets(ticket)">Edit</button>
            <button (click)="deleteTickets(ticket._id)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedTickets"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedTickets;"></tr>
</table>
<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #ticketForm="ngForm" (ngSubmit)="addTicket(ticketForm)">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="ticketService.selectedTicket._id">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="name" #name="ngModel" [(ngModel)]="ticketService.selectedTicket.name" placeholder="Escribe tu nombre">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="depto" #depto="ngModel" [(ngModel)]="ticketService.selectedTicket.depto" placeholder="Escribe tu departamento">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="asunto" #asunto="ngModel" [(ngModel)]="ticketService.selectedTicket.asunto" placeholder="Escribe tu asunto">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="message" #message="ngModel" [(ngModel)]="ticketService.selectedTicket.message" placeholder="Escribe tu mensaje">
                            </div>
                            <div class="card-action">
                                <div class="inputfield col s12">
                                    <button>Save</button>
                                    <button (click)="resetForm(ticketForm)">Clean</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>