<mat-toolbar>
    <mat-toolbar-row>
        <h2>Ticket #288</h2>
        
        
        <button mat-raised-button >En Proceso
        
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>



<mat-card>

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Elon musk</mat-card-title>
        <mat-card-subtitle>Tesla CEO</mat-card-subtitle>
      </mat-card-header>


    <mat-card-content>
      <!-- <h2 class="example-h2">No hay conexion a Internet / Redes</h2> -->
      <h4 class="example-h2">No hay conexion a Internet / Redes</h4>
      
      <section class="example-section">
          
        <p>
            Tengo conectado el cable de red a mi computadora, pero mi pc indica que no tengo 
            conexion a internet, el problema aparecio hace 2 hrs. 
        </p>
      </section>
  
    </mat-card-content>
  </mat-card>
  
  <mat-card class="result">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>Antonio Salgado</mat-card-title>
          <mat-card-subtitle>Soporte Tecnico</mat-card-subtitle>
        </mat-card-header>
    <mat-card-content>
      <!-- <h2 class="example-h2">Soporte</h2> -->
      <h4 class="example-h2">Re:</h4>
  
      <section class="example-section">
        <p>
            Su solicitud sera atendida en la brevedad Sr. Elon, si me permite un screenshot de su computadora. 
        </p>
      </section>
    </mat-card-content>
  </mat-card>