<mat-toolbar>
    <mat-toolbar-row>
        <h2>Tickets</h2>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>

<div *ngFor="let ticket of ticketService.tickets">
    <mat-card class="result" *ngIf="ticket.name == userLoggedIn">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image2"></div>
            <mat-card-title>{{ticket.name}}</mat-card-title>
            <mat-card-subtitle>{{ticket.depto}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <!-- <h2 class="example-h2">Soporte</h2> -->
            <h4 class="example-h2">{{ticket.asunto}}</h4>

            <section class="example-section">
                <p>{{ticket.message}}</p>
            </section>
        </mat-card-content>
    </mat-card>
</div>