mat-sidenav,
mat-sidenav-content {
    padding: 18px;
}

mat-sidenav {
    background: #2A68EB;
}

mat-sidenav-container {
    height: 100vh;
}

.mat-toolbar-multiple-rows {
    background: #2A68EB;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    background: #2A68EB;
}