mat-sidenav,
mat-sidenav-content {
    padding: 18px;
}

mat-sidenav {
    background: #2A68EB;
    border-radius: 5px;
}

mat-sidenav-container {
    height: 100vh;
}

.mat-toolbar-multiple-rows {
    background: #2A68EB;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    background: #2A68EB;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}