<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Registro</h2>

    <section class="example-section">
      <form [formGroup]="myForm">

          <mat-form-field>
              <input matInput placeholder="nombre"formControlName="nombre" autocomplete="off">
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="apellido"formControlName="apellido" autocomplete="off">
          </mat-form-field>
         <br>

          <mat-form-field>
              <input matInput placeholder="puesto"formControlName="puesto" autocomplete="off">
          </mat-form-field>
          
          <mat-form-field>
              <mat-select placeholder="Departamento">
                <mat-option *ngFor="let dpto of departamentos" [value]="dpto.value">
                  {{dpto.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <br>

        <mat-form-field>
            <input matInput placeholder="email"formControlName="email" autocomplete="off">

                <mat-error *ngIf="email.invalid && email.touched" class="has-text-danger">
                    Ingrese un correo valido...
                </mat-error>

        </mat-form-field>
          
        <mat-form-field>
            <input matInput type="password" placeholder="password"formControlName="password" autocomplete="new-password">

                <mat-error *ngIf="email.invalid && email.touched" class="has-text-danger">
                    Ingrese una contraseña valida...
                </mat-error>

        </mat-form-field>
                         <br>
        <button mat-raised-button color="primary">Enviar</button>
        
      </form>


    </section>

  </mat-card-content>
</mat-card>