mat-list-item {
    color: #ffff;
    padding-top: 40px;

}

h2 {
    color: #ffff;
    padding: 30px;
}

span {
    color: #ffff;
}

a {
    color: #fff;
}

.mat-nav-list a.active {
    background: rgba(85,85,85,0.1);
}



.mat-nav-list a {
    color: white;
}

mat-list-item {
    color: #fff;
}