<!-- <mat-toolbar>
  
</mat-toolbar> -->

<h2> Menu</h2>
<mat-nav-list>

    <a mat-list-item routerLink="/listaTickets" routerLinkActive="active">
        <mat-icon matListIcon>list</mat-icon>Lista de Tickets
    </a>

    <a mat-list-item routerLink="/solicitud" routerLinkActive="active">
        <mat-icon matListIcon>book</mat-icon> Mis Tickets
    </a>

    <a mat-list-item routerLink="/perfil" routerLinkActive="active">
        <mat-icon matListIcon>account_circle</mat-icon>Perfil
    </a>

    <a mat-list-item routerLink="/config" routerLinkActive="active">
        <mat-icon matListIcon>settings</mat-icon>Configuración
    </a>
</mat-nav-list>