<!-- <mat-toolbar>
  
</mat-toolbar> -->

<h2>  Menu</h2>
<mat-nav-list>

  <mat-list-item>
    <a mat-list-item routerLink="/listaTickets">
      <mat-icon matListIcon>list</mat-icon>Lista de Tickets
    </a>
  </mat-list-item>
  <mat-list-item>

    <nav>
      <a mat-list-item routerLink="/solicitud">
        <mat-icon matListIcon>book</mat-icon>  Mis Tickets
      </a>

    </nav>

  </mat-list-item>

  <mat-list-item>
    <a mat-list-item routerLink="/perfil">
      <mat-icon matListIcon>account_circle</mat-icon>Perfil
    </a>
  </mat-list-item>

  <mat-list-item>
      <nav>
            <a mat-list-item routerLink="/config">
                    <mat-icon matListIcon>settings</mat-icon>Configuracion
            </a>
      </nav>
    
  </mat-list-item>





</mat-nav-list>