<!-- <mat-toolbar>
  
</mat-toolbar> -->

<h2>  Menu</h2>
<mat-nav-list>

  
    <a mat-list-item routerLink="/listaTickets">
      <mat-icon matListIcon>list</mat-icon>Lista de Tickets
    </a>
  

 

   
      <a mat-list-item routerLink="/solicitud">
        <mat-icon matListIcon>book</mat-icon>  Mis Tickets
      </a>

    

  

  
    <a mat-list-item routerLink="/perfil">
      <mat-icon matListIcon>account_circle</mat-icon>Perfil
    </a>
  

  
      
            <a mat-list-item routerLink="/config">
                    <mat-icon matListIcon>settings</mat-icon>Configuracion
            </a>
      
    
  

 
      <a mat-list-item routerLink="/registrar" >Registrar</a> 
  





</mat-nav-list>