<mat-toolbar>
    <mat-toolbar-row>
        <h1>Lista de Tickets</h1>
        <mat-form-field>
            <mat-select placeholder="Estatus">
                <mat-option *ngFor="let food of food" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Fecha">
                <mat-option *ngFor="let food of food" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary">Crear
      <mat-icon matListIcon>add</mat-icon>
    </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>